body
{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 123);
}
.title
{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  
}
.recipes
{
  background-color: rgb(255, 150, 150);
  border-radius: 10px;
  width: 250px;
}